/* Sidebar.css */

/* Base styles */
.sidebar {
  width: 150px; /* Adjust sidebar width as needed */
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.sidebar-item {
  background-color: white;
  width: 100%; /* Set width to 100% */
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.sidebar-item:hover {
  background-color: #555;
}

.sidebar-item-icon {
  width: 16px; /* Adjust the size of the SVG icon */
  height: 16px; /* Adjust the size of the SVG icon */
  margin-right: 8px; /* Add space between the icon and text */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Auto height to fit content */
    flex-direction: row; /* Change to horizontal layout */
    justify-content: space-around; /* Distribute items evenly */
    align-items: flex-start; /* Align items to the start */
  }

  .sidebar-item {
    width: auto; /* Auto width to fit content */
    margin: 5px 0; /* Adjust margin for spacing */
  }

  .sidebar-item-icon {
    margin-right: 0; /* Remove margin for smaller screens */
  }
}
